<!-- .list-group>.list-group-item.list-group-item-action*3{$. Playlist $$$} -->

<div class="list-group">
  <div
    class="list-group-item list-group-item-action"
    [class.active]="playlist.id === selectedId"
    (click)="select(playlist.id)"
    *ngFor="let playlist of playlists; index as i; trackBy: myTrackFn"
  >
    {{ i + 1 }}. {{ playlist.name }}

    <span class="close float-end" (click)="removeClick(playlist.id)">&times;</span>
  </div>
</div>

<!-- <ng-template
  ngFor
  [ngForOf]="playlists"
  let-i="index"
  let-playlist="$implicit"
>
  <div class="list-group-item list-group-item-action">
    {{ i + 1 }}. {{ playlist.name }}
  </div>
</ng-template> -->
<!-- <div class="list-group">
    <div class="list-group-item list-group-item-action">1. Playlist 001</div>
    <div class="list-group-item list-group-item-action">2. Playlist 002</div>
    <div class="list-group-item list-group-item-action">3. Playlist 003</div>
</div> -->
