<form #formRef="ngForm" (ngSubmit)="submit(formRef)">
  <pre>{{ playlist | json }}</pre>
  <pre>{{ formRef.value | json }}</pre>

  <div class="form-group mb-3">
    <label for="playlist_name">Name:</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="playlist_name"
      required
      minlength="3"
      appCensor="placki"
      placeholder="Name"
      [ngModel]="playlist.name"
      #formNameRef="ngModel"
    />
    <small class="form-text text-muted float-end">
      {{ formNameRef.value?.length }} / 100
    </small>
    <!-- <form-mesages [field]="formNameRef"></form-mesages> -->
    <p class="text-danger" *ngIf="formNameRef.hasError('required')">
      This field is required
    </p>
    <!-- <p class="text-danger" *ngIf="formNameRef.getError('minlength') let error = $implicit "> -->
    <p class="text-danger" *ngIf="formNameRef.getError('minlength') as error">
      Minimal length is "{{ error.requiredLength }}"
    </p>
    <p class="text-danger" *ngIf="formNameRef.getError('censor') as error">
      Cannot include string "{{ error }}"
    </p>
  </div>

  <div class="form-check mb-3">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        name="public"
        [ngModel]="playlist.public"
        id="playlist_public"
      />
      Public
    </label>
  </div>

  <div class="form-group mb-3">
    <label for="playlist_description">Description:</label>
    <textarea
      class="form-control"
      appCensor="barman"
      name="description"
      [ngModel]="playlist.description"
      id="playlist_description"
      rows="3"
    ></textarea>
  </div>

  <p *ngIf="formRef.submitted && formRef.invalid" class="text-danger">
    Form has errors
  </p>

  <button class="btn btn-danger me-4" (click)="cancelClicked()">Cancel</button>

  <button class="btn btn-success me-4" type="submit">
    <!-- [disabled]="formRef.invalid" -->
    Save
  </button>
</form>
