<div *ngIf="playlist else noPlaylistTplRef">
  <dl [attr.data-id]="playlist.id" [title]="playlist.name">
    <dt>Name:</dt>
    <dd>{{ playlist.name }}</dd>

    <dt>Public:</dt>
    <dd
      [ngClass]="{
        public: playlist.public,
        private: playlist.public === false
      }"
    >
      {{ playlist.public ? "Yes" : "No" }}
    </dd>

    <dt>Description:</dt>
    <dd>{{ playlist.description }}</dd>
  </dl>

  <button class="btn btn-info success me-4" (click)="editClicked()">
    Edit
  </button>
  <button class="btn btn-info danger me-4" (click)="cancelClicked()">
    Cancel
  </button>
</div>

<ng-template #noPlaylistTplRef>
  <p class="alert alert-info">No playlist selected</p>
</ng-template>


<!-- <dd [style.color]="getColor()"> -->
<!-- <dd [style.color]="playlist.public ? 'red' : 'green'"> -->
<!-- <dd [ngStyle]="{
    color: playlist.public ? 'red' : 'green',
    'background-color': playlist.public ? 'lightgray' : 'lightblue'
}"> -->
<!-- <dd
    [class.text-success]="playlist.public"
    [class.text-danger]="playlist.public === false"
  > -->
<!-- [style.borderBottom]=" '1px solid' " -->
